.borderSection {
    border: 1px solid #e1dfdf;
    padding: 20px;
    margin-bottom:30px;
    border-radius:10px;
    background-color: #f8f8f8;
}
.gradient-pomegranate {
    margin-top: 20px;
    margin-bottom: 20px;
}
