
<section id="regestration">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body register-img">
              <div class="row m-0">
                <div class="col-lg-6 d-none d-lg-block py-2 px-3 text-center">
                  <img
                    src="../../assets/img/gallery/register.png"
                    alt=""
                    class="img-fluid mt-3 pl-3"
                    width="400"
                    height="230"
                  />
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-4 bg-white">
                  <h4 class="card-title mb-2">Create Account</h4>
                  <p class="card-text mb-3">
                    Fill the below form to create a new account.
                  </p>
                  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
                      <app-input inputType="text"
                                 label="name"
                                 [control]="authForm.get('name')"></app-input>

                      <app-input inputType="text"
                                 label="email"
                                 [control]="authForm.get('email')"></app-input>

                      <app-input inputType="password"
                                 label="Password"
                                 [control]="authForm.get('password')"></app-input>

                      <app-input inputType="password"
                                 label="Password Confirmation"
                                 [control]="authForm.get('passwordConfirmation')"></app-input>

                      <div *ngIf="
                              authForm.get('password').touched && authForm.get('passwordConfirmation').touched && authForm.errors"
                           class="ui red basic label">
                          <p *ngIf="authForm.errors.passwordsDontMatch">
                              Password and Password Confirmation must match
                          </p>
                          <p *ngIf="authForm.errors.noConnection">
                              No internet connection detected, failed to sign up
                          </p>
                          <p *ngIf="authForm.errors.unknownError">
                              Failed to sign up
                          </p>
                      </div>


                      <div class="custom-control custom-checkbox custom-control-inline mb-3">
                          <input type="checkbox"
                                 id="customCheckboxInline1"
                                 name="customCheckboxInline1"
                                 class="custom-control-input"
                                 checked />
                          <label class="custom-control-label"
                                 for="customCheckboxInline1">
                              I accept the terms & conditions.
                          </label>
                      </div>

                      <div class="fg-actions d-flex justify-content-between">
                          <div class="login-btn">
                              <button class="btn btn-outline-primary">
                                  <a href="login-page.html"
                                     class="text-decoration-none"
                                     [routerLink]="['/pages/login']">
                                      Back To Login
                                  </a>
                              </button>
                          </div>


                          <div class="recover-pass">
                              <button class="btn btn-primary">
                                  <a class="text-decoration-none text-white">
                                      Register
                                  </a>
                              </button>
                          </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->
